*{
    background-color: antiquewhite;
    padding: auto;
    
}

.container{
    background-color: aliceblue;
    padding: 50px;
    align-items: center;
    margin: 20%;
    border-radius: 20px;

}
.container,h1{
    background-color: aliceblue;
    color: black;
}

form,input{
    background-color: aliceblue;
    width: 100%;
}
form,button{
    background-color: aliceblue;
    width: 50%;
}
